* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./utils/fonts";
@import "./utils/mixins";
@import "./utils/variables";
@import "./sections/section-1";
@import "./sections/section2";

body {
    font-family: "Poppins Regular";
    font-style: normal;

    a{
        text-decoration: none;
    }
}